<header>
    <div class="container">
        <div class="top-bar">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-2">
                    <div class="">
                        <ul class="social-media">
                            <li><a href="https://whatsapp.com/channel/0029VbAUvRE9hXFFVodHQ52D"><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href="https://www.t.me/azonvaqfi"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="https://www.instagram.com/ezanvakfi/"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/ezanvakfi/"><i class="fab fa-facebook-f icon"></i></a></li>
                            <li><a href="https://x.com/EzanVakfi"><i class="fa-solid fa-x"></i></a></li>
                            <li><a href="https://www.youtube.com/@azon_global/featured"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="d-flex align-items-center login">
                        <div class="location">
                            <i>
                                <svg width="24px" height="24px" viewBox="-4 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-104.000000, -411.000000)" fill="#fbc50b">
                                        <path d="M116,426 C114.343,426 113,424.657 113,423 C113,421.343 114.343,420 116,420 C117.657,420 119,421.343 119,423 C119,424.657 117.657,426 116,426 L116,426 Z M116,418 C113.239,418 111,420.238 111,423 C111,425.762 113.239,428 116,428 C118.761,428 121,425.762 121,423 C121,420.238 118.761,418 116,418 L116,418 Z M116,440 C114.337,440.009 106,427.181 106,423 C106,417.478 110.477,413 116,413 C121.523,413 126,417.478 126,423 C126,427.125 117.637,440.009 116,440 L116,440 Z M116,411 C109.373,411 104,416.373 104,423 C104,428.018 114.005,443.011 116,443 C117.964,443.011 128,427.95 128,423 C128,416.373 122.627,411 116,411 L116,411 Z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                            </i><a href="https://maps.app.goo.gl/WFG7728PYZP5PKzH6" target="_blank">Atatürk Bulvarı A1 Blok Deposite İş Merkezi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-bar">
            <div class="two-bar">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <a href="/">
                            <img alt="logo" src="/assets/images/heading-img.png" width="64" height="80">
                        </a>
                    </div>
                    <div class="bar-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

                <nav class="navbar">
                    <ul class="navbar-links">
                        <li class="navbar-dropdown">
                            <a href="#">Kurumsal</a>
                            <div class="dropdown">
                                <a href="/about.html">Hakkımızda</a>
                                <a href="/management.html">Yönetim</a>
                                <a href="/mission.html">Misyonumuz ve vizyonumuz</a>
                                <a href="/lider.html">Liderin açıklaması</a>
                                <a href="/faq.html">Sık sorulan sorular</a>
                            </div>
                        </li>
                        <li class="navbar-dropdown">
                            <a href="/about.html">Faaliyetlerimiz</a>
                            <div class="dropdown">
                                <a href="/media.html">Medya ve haberleşme</a>
                                <a href="/academy.html">"Mezana" Uluslararası Dini İlimler Akademisi</a>
                                <a href="/madrasah.html">"Mezana" Medresesi</a>
                                <a href="/womenAcademy.html">"Mezana" Uluslararası Dini İlimler Akademisi - Kız Şubesi</a>
                                <a href="/quranic-course.html">Çocuklar ve yetişkinler için Kur'ân kursları</a>
                                <a href="/students-bedroom.html">Talebe yurdu</a>
                                <a href="/grant.html">Geniş kapsamlı burslar ve eğitim yardımları</a>
                                <a href="/university.html">"İslam Düşüncesi" Enstitüsü</a>
                                <a href="/publishing-house.html">Yayıncılık</a>
                            </div>
                        </li>
                        <li class="navbar-dropdown">
                            <a href="#">Haberler</a>
                            <div class="dropdown">
                                <a href="/news.html">Vakf hayati</a>
                                <a href="/news.html">Duyurular</a>
                            </div>
                        </li>
                        <li class="navbar-dropdown">
                            <a href="#">Projeler</a>
                            <div class="dropdown">
                                <a href="/future-projects.html">Gelecek projelerimiz</a>
                            </div>
                        </li>
                        <li class="navbar-dropdown">
                            <a href="/gallery.html">Galeri</a>
                        </li>
                        <li class="navbar-dropdown">
                            <a href="#">Bağış</a>
                            <div class="dropdown">
                                <a href="#">Nasıl Destek Olabilirim?</a>
                                <a href="/donation.html">Bağış Yapmak</a>
                            </div>
                        </li>
                        <li class="navbar-dropdown">
                            <a href="/contact.html">İletişim</a>
                            <div class="dropdown">
                                <a href="/contact.html">Vakıf Merkezi</a>
                                <a href="/faq.html">Vakıf Hakkında En Çok Merak Edilen Konular</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                
                <div class="header-search">
                    <a href="callto:+90 505 034 55 50"><i class="fa-solid fa-phone me-2"></i>+90 505 034 55 50</a>
                    <div class="header-search-button search-box-outer">
                        <a href="javascript:void(0)" class="search-btn">
                            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g id="_12" data-name="12"><path d="m21.71 20.29-2.83-2.82a9.52 9.52 0 1 0 -1.41 1.41l2.82 2.83a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zm-17.71-8.79a7.5 7.5 0 1 1 7.5 7.5 7.5 7.5 0 0 1 -7.5-7.5z"></path></g></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MOBILE NAV -->
    <div class="mobile-nav hmburger-menu" id="mobile-nav" style="display:block;">
        <div class="res-log">
            <a href="/">
                <img src="/assets/images/logo.svg" alt="Responsive Logo" class="white-logo">
            </a>
        </div>
        <ul>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Home</a>
                <ul class="sub-menu">
                    <li><a href="/">home 1</a></li>
                    <li><a href="index-2.html">home 2</a></li>
                </ul>
            </li>
            <li><a href="about.html">about</a></li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">Courses</a>
                <ul class="sub-menu">
                    <li><a href="our-courses.html">our courses</a></li>
                    <li><a href="courses-details.html">courses details</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">campaigns</a>
                <ul class="sub-menu">
                    <li><a href="our-campaigns.html">our campaigns</a></li>
                    <li><a href="campaign-details.html">campaign details</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">pages</a>
                <ul class="sub-menu">
                    <li><a href="our-scholar.html">our scholar</a></li>
                    <li><a href="scholar-details.html">scholar details</a></li>
                    <li><a href="our-events.html">our events</a></li>
                    <li><a href="pricing-packages.html">pricing packages</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children"><a href="JavaScript:void(0)">News</a>
                <ul class="sub-menu">
                    <li><a href="our-blog.html">our blog</a></li>
                    <li><a href="blog-details.html">blog details</a></li>
                </ul>
            </li>
            <li><a href="Contact.html">Contact</a></li>
        </ul>
        <a href="JavaScript:void(0)" id="res-cross"></a>
    </div>
</header>