<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> | Ezan Vakfı</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
</head>
<body class="hold-transition">
  <div class="wrapper">
    <section class="content" style="margin-top: 100px;">
      <div class="error-page">
        <h2 class="headline text-warning">404</h2>
        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Voy! Sahifa topilmadi.</h3>
          <p>
            Siz qidirayotgan sahifa topilmadi.
            Siz <a href="/admin">boshqaruv paneli</a> ga qaytishingiz yoki <a href="/login">qayta kirish</a> qilishingiz mumkin.
          </p>
        </div>
      </div>
    </section>
  </div>

  <!-- jQuery -->
  <script src="/assets/admin/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html> 