                <!-- Slider Menu -->
                <li class="nav-item">
                  <a href="/admin/sliders">
                    <span class="icon">
                      <i class="lni lni-image"></i>
                    </span>
                    <span class="text">Slayder</span>
                  </a>
                </li>

                <!-- Activities Menu -->
                

                <!-- News Menu --> 